.statuslist{
    display: flex;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    align-items: center;

}

/* status_ind */

.statuslist:hover{
    background-color: #ebebeb;
}

.name > h2{
    font-size: 16px;
    margin-bottom: 8px;
}

.name{
    margin-left: 15px;
    justify-content: space-between;
}


.seen{
    justify-content: end;
    margin-left: auto;
    margin-top: -26px;
}

